.about .video-box img{
    max-height: 400px;
}

.about .icon-box {
    margin-top: 40px;
}

.about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50px;
    transition: 0.5s;
}

.about .icon-box .icon i {
    font-size: 32px;
}

#iconFirst{
    color: #a66ce1;
}

#iconSecond{
    color: #929cce;
}

#iconThird{
    color: #79d4b8;
}

.about .icon-box:hover #borderIconFirst {
    background: #a66ce1;
    border-color: #a66ce1;
}

.about .icon-box:hover #borderIconSecond {
    background: #929cce;
    border-color: #929cce;
}

.about .icon-box:hover #borderIconThird {
    background: #79d4b8;
    border-color: #79d4b8;
}

.about .icon-box:hover .icon #iconFirst,
.about .icon-box:hover .icon #iconSecond,
.about .icon-box:hover .icon #iconThird {
    color: #fff;
}

.about .icon-box {
    margin-top: 40px;
}

.about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

.about .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
}

.about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
}

.titleAbout{
    text-align: center;
}

.descAbout{
    text-align: center;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

