* {
    font-family: "Open sans", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 2.25em;
    padding-bottom: 5px;
    line-height: 1.2;
    text-align: center;
}

.desc {
    font-size: 18px;
    color: #999;
    margin: 0;
}