<section id="services" class="section">
  <div class="container">
    <div class="section-title">
      <h3>SERVICES</h3>
      <p class="desc">Vous devenez "Influnias Creator" et vous avez accès à cette liste à vie pendant toute la durée de votre abonnement.</p>
    </div>
    <div class="services-grid">
      @for (service of services; track service.title) {
        <div class="service-single">
          <div class="icon"><i class="fa-solid {{ service.icon }}"></i></div>
          <h5>{{ service.title }}</h5>
          <p class="desc">{{ service.desc }}</p>
        </div>
      }
    </div>
  </div>
</section>
